/* app/src/components/Products/Product.css */
.product-container {
  text-align: center; /* Center-aligns text */
}

.product-item {
  display: flex;
  justify-content: center; /* Centers the images */
  align-items: center; /* Vertically centers the images */
}

.product-item img {
  max-width: 100%; /* Ensures images are responsive */
  margin-top: 10px;
  height: auto; /* Maintains aspect ratio */
  border-radius: 10px; /* Optional: adds rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: adds shadow for depth */
}

.product-heading {
    font-size: 2.5rem;
    font-weight: bold; /* Make the heading bold */
    margin-top: 20px; /* Add margin above the heading */
}
